//*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Colors *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

// Light Color Palette (Custom Properties)
html {
  --color-red: #ec0000;
  --color-black: #1c1c1c;
  --color-blue: #4258fe;
  --color-green: #00bdb3;
  --color-purple: #00bdb3;
  --color-yellow: #ff7a09;
}
