.footer {
  background-color: var(--color-black);
  color: #fff;
}

.footer-text {
  font-size: 11px;

  img {
    height: 95px;
    width: 85px;
  }
}

.copy-term {
  background-color: var(--color-red);
  padding: 10px;
}
